<div nz-row>
  <div nz-col nzSpan="10" nzOffset="2">
    <h2>箱图</h2>
    <div starkG2plotBox [options]="options" style="width: 800px;"></div>
  </div>
</div>

<h2>code</h2>
<nz-tabset>
  <nz-tab nzTitle="html">
    <markdown [src]="'assets/code/box/box.html.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="ts">
    <markdown [src]="'assets/code/box/box.ts.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="module">
    <markdown [src]="'assets/code/box/box.module.md'"></markdown>
  </nz-tab>
</nz-tabset>
