<h2>多阶梯折线图</h2>
<div starkG2plotLine #divG2plotLine="g2plotLine" [options]="options" style="width: 800px;"></div>


<nz-tabset>
  <nz-tab nzTitle="html">
    <markdown [src]="'assets/code/line/line-multiple/line-multiple.html.md'"  (error)="onError($event)"></markdown>
  </nz-tab>

  <nz-tab nzTitle="ts">
    <markdown [src]="'assets/code/line/line-multiple/line-multiple.ts.md'"  (error)="onError($event)"></markdown>
  </nz-tab>

  <nz-tab nzTitle="module">
    <markdown [src]="'assets/code/line/line-multiple/line-multiple.module.md'"  (error)="onError($event)"></markdown>
  </nz-tab>
</nz-tabset>
