<div nz-row>
  <div nz-col nzSpan="10" nzOffset="2">
    <h2>玉珏图</h2>
    <div starkG2plotRadialBar [options]="options" style="width: 800px;"></div>
  </div>
</div>

<h2>code</h2>
<nz-tabset>
  <nz-tab nzTitle="html">
    <markdown [src]="'assets/code/radial-bar/radial-bar.html.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="ts">
    <markdown [src]="'assets/code/radial-bar/radial-bar.ts.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="module">
    <markdown [src]="'assets/code/radial-bar/radial-bar.module.md'"></markdown>
  </nz-tab>
</nz-tabset>
