<div nz-row>
  <h2>旭日图</h2>
  <div starkG2plotSunburst #divG2plotSunburst="g2plotSunburst" [options]="options" style="width: 800px;"
    [ngStyle]="{'display': data?'block':'none'}"></div>
  <div style="width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;" *ngIf="!data">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
<h2>code</h2>
<nz-tabset>
  <nz-tab nzTitle="html">
    <markdown [src]="'assets/code/sunburst/sunburst.html.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="ts">
    <markdown [src]="'assets/code/sunburst/sunburst.ts.md'"></markdown>
  </nz-tab>

  <nz-tab nzTitle="module">
    <markdown [src]="'assets/code/sunburst/sunburst.module.md'"></markdown>
  </nz-tab>
</nz-tabset>
